body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.layout{
    min-width: 1200px;
}

.about_us-background{
    background: url("../img/section_about_us/section-1(header).jpg") no-repeat center fixed;
    background-size: auto;
}

.container {
    height: 100%;
    width: 1160px;
    margin: 0 auto;
    padding: 0 8px;
}

.about_us-main_content{
    padding-bottom: 240px;
}

header {
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    margin-bottom: 250px;
}

.about_us-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us-menu-links{
    width: 615px;
    display: flex;
    justify-content: space-between;

}

.about_us-menu-links > a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.about_us-menu-links > a:hover{
    color: #18CFAB;
}

.about_us-title{
    width: 100%;
    height: 215px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;

}

.about_us-title-header{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about_us-title-header span{
    color: #18CFAB;
}

.about_us-title-head{
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about_us-title-description{
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}

.about_us-input{
    height: 70px;
    display: flex;
    justify-content: center;
}

.about_us-input-explore,
.about_us-input-purchase{
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 11px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 4px rgb(255 255 255);
}

.about_us-input-explore{
    background-color: #18CFAB;
    margin-right: 30px;
}

.about_us-input-purchase{
    background-color: #00CBF6;
}

.options-list{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 360px);
    grid-template-areas:
    "truck1 truck2 truck3 truck4 "
}

.options-list-all{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.options-list_fully {
    grid-area: truck2;
    background-color: #18CFAB;
}

.options-list_different{
    grid-area: truck1;
    background-color:  #1C2A33;
}

.options-list_unlimited{
    grid-area: truck3;
    background-color:  #1C2A33;
}
.options-list_responsive{
    grid-area: truck4;
    background-color:  #18CFAB;
}

.options-list p {
    color: #18CFAB;
    text-align: center;
}

.options-list span {
    color: #FFFFFF;
}

.our_services,
.breaking_news{
    background: #FFFFFF;
}

.our_services-content{
    padding: 90px 0;
}

.our_services-title,
.our_amazing_work-title,
.breaking_news-title,
.our_gallery-title,
.feedbacks-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
    text-align: center;
    margin-bottom: 90px;

}

.title_decoration::before{
    content: "";
    position: absolute;
    display: block;
    border-bottom: 1px solid #18CFAB;
    width: 80px;
    left: calc(50% - 50px);
    top: 60px;
}

.title_decoration::after{
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid #18CFAB;
    width: 80px;
    left: calc(50% + 80px);
    top: 70px;
    transform: translateX(calc(-50% - 70px));
}


.our_services-list-items-content{
    margin-top: 15px;
    list-style-type: none;
}

.our_services-list-items-content-information,
.our_services-list-items-content li.active{
    display: flex;
}

.our_services-list-items li {
    position: relative;
    padding: 15px 30px;
    border: 1px solid #DADADA;
    cursor: pointer;
}

.our_services-list-items li:hover{
    border-color: #18CFAB;
}

.our_services-list-items li.active:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #18CFAB;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translatex(-50%);
}

.our_services-list-items{
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    list-style-type: none;
    background-color: #eff5f7;
    color: #777777;
    display: flex;
    grid-area: truck1;
    width: fit-content;
}

.our_services-list-items li.active{
    background: #18CFAB;
    border-color: #18CFAB;
    color: #FFFFFF;
}

.our_services-img{
    grid-area: truck2;
    margin-right: 15px;
}

.our_services-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
    grid-area: truck3;
}

.our_services-list-items-content li{
    display: none;
}

.our_advantages{
    background: url("../img/section_our_advantages/section-2.png") no-repeat center;
    background-size: auto;
}

.our_advantages-content{
    padding: 130px 0;
}

.our_advantages-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.our_advantages-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    display: block;
    text-align: center;
}

.our_advantages-input{
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #18CFAB;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 16px 11px;
    display: block;
    margin: 60px auto 0;
    box-shadow: inset 0 4px rgb(255 255 255);
}

.our_amazing_work{
    background: #E9EDEF;
}

.our_amazing_work-content{
    padding: 90px 0;
}


.our_amazing_work-list{
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    margin: 0 auto 70px;
    display: flex;
    width: fit-content;
    gap: 5px;
}

.our_amazing_work-list li{
    list-style-type: none;
    padding: 14px 28px;
    border: 2px solid #DADADA;
    cursor: pointer;
}
.our_amazing_work-list li.active{
    border-color: #18CFAB;
    color: #18CFAB;
}
.our_amazing_work-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.our_amazing_work-photo .photoBox{
    position: relative;
    width: 284px;
    height: 206px;
    float: left;
}


.our_amazing_work-photo .photoBox img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.graphic_design1{
    background: url("../img/section_our_amazing_work/graphic_disign/graphic_design1.jpg") no-repeat center;
}

.graphic_design2{
    background: url("../img/section_our_amazing_work/graphic_disign/graphic_design2.jpg");
}

.graphic_design3{
    background: url("../img/section_our_amazing_work/graphic_disign/graphic_design3.jpg");
}

.graphic_design4{
    background: url("../img/section_our_amazing_work/additional_photos/img3.png");
}

.graphic_design5{
    background: url("../img/section_our_amazing_work/additional_photos/img2.png");
}

.graphic_design6{
    background: url("../img/section_our_amazing_work/additional_photos/img1.png");
}

.web_design1{
    background: url("../img/section_our_amazing_work/web_disign/web_design1.jpg");
}

.web_design2{
    background: url("../img/section_our_amazing_work/web_disign/web_design2.jpg");
}

.web_design3{
    background: url("../img/section_our_amazing_work/web_disign/web_design3.jpg");
}

.web_design4{
    background: url("../img/section_our_amazing_work/additional_photos/img6.png");
}

.web_design5{
    background: url("../img/section_our_amazing_work/additional_photos/img5.png");
}

.web_design6{
    background: url("../img/section_our_amazing_work/additional_photos/img4.png");
}

.landing_pages1{
    background: url("../img/section_our_amazing_work/landing_page/landing_page1.jpg");
}

.landing_pages2{
    background: url("../img/section_our_amazing_work/landing_page/landing_page2.jpg");
}

.landing_pages3{
    background: url("../img/section_our_amazing_work/landing_page/landing_page3.jpg");
}

.landing_pages4{
    background: url(../img/section_our_amazing_work/additional_photos/img9.png);
}

.landing_pages5{
    background: url(../img/section_our_amazing_work/additional_photos/img8.png);
}

.landing_pages6{
    background: url(../img/section_our_amazing_work/additional_photos/img7.png);
}

.wordpress1{
    background: url("../img/section_our_amazing_work/wordpress/wordpress1.jpg");
}

.wordpress2{
    background: url("../img/section_our_amazing_work/wordpress/wordpress2.jpg");
}

.wordpress3{
    background: url("../img/section_our_amazing_work/wordpress/wordpress3.jpg");
}
.wordpress4{
    background: url(../img/section_our_amazing_work/additional_photos/img12.png);
}
.wordpress5{
    background: url(../img/section_our_amazing_work/additional_photos/img11.png);
}
.wordpress6{
    background: url(../img/section_our_amazing_work/additional_photos/img10.png);
}


.our_amazing_work-photo-list{
    position: relative;
}

.loadMore{
    display: none;
}

.remove{
    display: none;
}


.our_amazing_work-photo-list:hover .our_amazing_work-photo-hover_content{
    z-index: 2;
    opacity: 1;
    background-color: #E9EDEF;
}

.our_amazing_work-photo-hover_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.our_amazing_work-photo-hover_content h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 30px;
}

.our_amazing_work-photo-hover_content p{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.our_amazing_work-btn,
.our_gallery-btn{
    background: #18CFAB;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    padding: 13px 24px;
    margin: 70px auto 0;
}

.our_amazing_work-btn-text,
.our_gallery-btn-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our_amazing_work-btn:hover{
    background: #01813F;
}


.our_amazing_work-btn > img,
.our_gallery-btn >img{
    margin-right: 16px;
}

.breaking_news-content{
    padding-top: 90px;
    padding-bottom: 130px;
}

.breaking_news-information-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 602px;
    grid-column-gap: 35px;
    grid-row-gap: 40px;
}

.breaking_news-information-list-item {
    list-style-type: none;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.breaking_news-information-list-item:hover{
    color: #18CFAB;
}

.breaking_news-information-list-item:hover .breaking_news-information-date{
    background: #18CFAB;
}

.breaking_news-information-date{
    position: absolute;
    background: #203E38;
    width: 70px;
    height: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breaking_news-information-comments{
    padding-left: 15px;
}

.breaking_news-information-comments-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #777777;
    display: flex;
}
.divider {
    width: 1px;
    height: 14px;
    background-color: #777777;
    margin: 0 20px;
}

.feedbacks{
    background: url("../img/section_our_advantages/section-2.png") no-repeat center;
    background-size: cover;
}

.feedbacks-content{
    padding: 100px 0;
}

.feedbacks-title{
    color: #FFFFFF;
}


.feedbacks-persons-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#avatar {
    width: 170px;
    height: 160px;
    object-fit: cover;
    padding: 5px 0;
}

#comment{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    padding: 30px 0;
    text-align: center;
}

#name{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #18CFAB;
    padding: 5px 0;

}

#profession{
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
    padding: 5px 0;

}

.feedbacks-persons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedbacks-persons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.feedbacks-persons-list li{
    list-style-type: none;
    margin: 15px;
}
.feedbacks-persons-list img{
    width: 80px;
    height: 70px;
    object-fit: cover;
}

.feedbacks-persons-list img.active{
    position: relative;
    transition: top 0.5s;
    top: -15px;
}
.arrow{
    color: #BBBBBB;
    background: none;
    border: 1px solid #BBBBBB;
    padding: 5px 8px;
    cursor: pointer;
}

.arrow:hover{
    background: #18CFAB;
}



.our_gallery{
    background: rgba(0, 0, 0, 0.0001);
}

.our_gallery-content{
    padding-top: 105px;
    padding-bottom: 65px;
}

.our_gallery-list,
.additional{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 920px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.photo1{
    grid-area: 1 / 1 / 4 / 7;
    background: url(../img/section_our_gallery/photo_1.png) no-repeat center;
    background-size: cover;
}

.photo2{
    grid-area: 4 / 1 / 7 / 7;
    background: url(../img/section_our_gallery/vanglo_house.png) no-repeat center;
    background-size: cover;
}

.photo3{
    grid-area: 7 / 1 / 10 / 7;
    background: url(../img/section_our_gallery/ringve_museum.png) no-repeat center;
    background-size: cover;
}

.photo4{
    grid-area: 1 / 7 / 5 / 13;
    background: url(../img/section_our_gallery/city.png) no-repeat center;
    background-size: cover;
}

.photo5{
    grid-area: 5 / 7 / 8 / 13;
    background: url(../img/section_our_gallery/room.png) no-repeat center;
    background-size: cover;
}

.photo6{
    grid-area: 8 / 7 / 11 / 13;
    background: url(../img/section_our_gallery/photo_1.png) no-repeat center;
    background-size: cover;
}

.photo7{
    grid-area: 1 / 13 / 3 / 16;
    background: url(../img/section_our_gallery/ringve_museum_mini.png) no-repeat center;
    background-size: cover;
}

.photo8{
    grid-area: 1 / 16 / 3 / 19;
    background: url(../img/section_our_gallery/rectangle.png) no-repeat center;
    background-size: cover;
}

.photo9{
    grid-area: 3 / 13 / 4 / 15;
    background: url(../img/section_our_gallery/pools.png) no-repeat center;
    background-size: cover;
}

.photo10{
    grid-area: 3 / 15 / 4 / 17;
    background: url(../img/section_our_gallery/kids_lighting.png) no-repeat center;
    background-size: cover;
}

.photo11{
    grid-area: 3 / 17 / 4 / 19;
    background: url(../img/section_our_gallery/house_mini.png) no-repeat center;
    background-size: cover;
}

.photo12{
    grid-area: 4 / 13 / 5 / 15;
    background: url(../img/section_our_gallery/kids_room.png) no-repeat center;
    background-size: cover;
}

.photo13{
    grid-area: 4 / 15 / 5 / 17;
    background: url(../img/section_our_gallery/rooms_mini.png) no-repeat center;
    background-size: cover;
}

.photo14{
    grid-area: 4 / 17 / 5 / 19;
    background: url(../img/section_our_gallery/hourses.png) no-repeat center;
    background-size: cover;
}

.photo15{
    grid-area: 5 / 13 / 6 / 15;
    background: url(../img/section_our_gallery/vanglo_house_mini.png) no-repeat center;
    background-size: cover;
}

.photo16{
    grid-area: 5 / 15 / 6 / 17;
    background: url(../img/section_our_gallery/billionares.png) no-repeat center;
    background-size: cover;
}

.photo17{
    grid-area: 5 / 17 / 6 / 19;
    background: url(../img/section_our_gallery/brazil_staduims.png) no-repeat center;
    background-size: cover;
}
.photo18{
    grid-area: 6 / 13 / 10 / 19;
    background: url(../img/section_our_gallery/street.png) no-repeat center;
    background-size: cover;
}

footer{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
    background:  #22353F;
}
.copyright {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright span{
    color: #18CFAB;
}







